:root {
  --slate: #8892b0;
  --green: #64ffda;
  --white: #e6f1ff;
  --lightest-slate: #ccd6f6;
  --light-slate: #a8b2d1;
  --Navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-mob-heading: 32px;
  --fz-sub-heading: 15px;
  --fz-para: 13px;
  --border-radius: 4px;
  --tr-ease: all 1s ease;
  --tr-linear: all 0.5s linear;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --fz-heading-max: 80px;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --w1: 1000px;
  --w2: 400px;
  --N: 2;
  --M: 1;
}

body {
  background: var(--lightest-navy);
  font-family: var(--font-mono);
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: var(--light-navy);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--white);
  margin: 0 0 30px 0;
}

.header h1 {
  margin: 20px 0 20px 20px;
}

.header button {
  margin: 0 20px 0 0;
}

.login {
  font-size: var(--fz-md);
  height: 50px;
  padding: 5px 25px;
  background: #112240;
  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--green);
  transition: var(--tr-linear);
}

.login:hover {
  background-color: var(--lightest-navy);
}

.btn {
  font-size: var(--fz-md);
  padding: 15px 25px;
  background: var(--green);
  border: 1px solid var(--Navy);
  border-radius: 5px;
  color: var(--Navy);
  transition: var(--tr-linear);
}

.btn:hover {
  background-color: var(--light-navy);
  color: var(--green);
  border: 1px solid var(--white);
}

input {
  padding: 10px;
  outline: none;
  border: 0;
  color: var(--green);
  background: var(--lightest-navy);
}

.check {
  font-size: var(--fz-lg);
  color: var(--lightest-slate);
}

input::placeholder {
  font-size: 12px;
  color: var(--green);
  background: var(--slate);
  border: 0;
}

.read-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}

input[type="checkbox"] {
  padding: 2px;
  height: 20px;
  width: 20px;
  background-color: var(--Navy);
  color: var(--green);
}

input[type="submit"] {
  background: var(--green);
  color: var(--Navy);
  transition: all 1s ease-in;
  font-size: var(--fz-sm);
  font-weight: 900;
}

input[type="submit"]:hover {
  background: var(--white);
  color: var(--Navy);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-white {
  color: white;
}

.blur {
  filter: blur(5px);
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-list {
  z-index: 1;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
}

.book {
  min-width: 300px;
  width: 20vw;
  box-sizing: border-box;
  padding: 20px;
  background: var(--Navy);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: var(--fz-xl);
  font-family: var(--font-sans);
}

.author {
  font-size: var(--fz-md);
  font-family: var(--font-mono);
}

.no-pages {
  font-size: var(--fz-sm);
  color: var(--slate);
}

.book h1 {
  margin: 10px 0;
}

.rm-btn,
.read-btn {
  height: 40px;
  width: 250px;
  background: var(--green);
  color: var(--Navy);
  font-weight: var(--fw-semi-bold);
  border-radius: 4px;
  border: 0;
}

.rm-btn {
  background-color: var(--light-slate);
  color: var(--Navy);
}

.rm-btn:hover {
  background-color: var(--lightest-navy);
  color: var(--white);
}

.books-form {
  position: relative;
  width: 100%;
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 10px;
  background: var(--light-navy);
  padding: 30px;
  margin: 30px auto;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
